
<div class="container">


<div style="display: flex; flex-direction: row;">

    <div class="tile" (click)="click('datahub2')"  >
        <div>
            <span class="span0"> Datahub </span>
        </div>
    </div>

    <div class="tile" (click)="click('prognosen')">
        <div>
            <span class="span0"> Prognosen</span>
        </div>
    </div>


</div>

<div style="display: flex; flex-direction: row;">


    <div class="tile" 
    (click)="click('analysen')"  >
        <div>
            <span class="span0"> Analysen </span>
        </div>
    </div>

    <div class="tile" 
    (click)="click('simulation-section')">
        <div>
            <span class="span0"> Simulation </span>
        </div>
    </div>
</div>
</div>


