:host {
  display: block;
}

.reporting-template-preview-area {
  position: relative;
  height: 570px;
  border: solid #a9a9a9 1px;
  background-color: #d3d3d3;
  overflow: auto;
}

.reporting-page {
  background-color: #fff;
  border: none;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
  height: calc(950px / 1.4);
}

.reporting-header {
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.reporting-header-text {
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 0;
}

.reporting-header-text h2 {
  margin: 0;
}

.reporting-header-text span {
  font-size: 14px;
  font-weight: 500;
}

.reporting-header-logo {
  margin: auto 0;
  padding: 5px;
}

.reporting-header-logo img {
  width: 70px;
  height: 70px;
}

.reporting-content {
  width: calc(100% - 40px);
  height: calc(100% - 140px);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.chart-img {
  margin-top: 30px;
  width: 650px;
  margin: 0 auto;
  border: solid gray 2px;
  border-radius: 5px;
  padding: 10px;
}

.chart-img img {
  width: 100%;
  height: 100%;
}

.chart-legend {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.chart-legend .legend-item {
  display: flex;
  flex-direction: row;
  padding-right: 5px;
}

.chart-legend .legend-item .item-color {
  width:15px; 
  height: 20px
}

.chart-legend .legend-item span {
  padding-left: 2px;
  padding-right: 2px;
  font-size: 14px;
}

.chart-comment {
  height: 70px;
  width: 80%;
  margin: 0 auto;
  background-color: transparent;
  border: none;
  padding: 20px;
}

.map-img {
  width: 650px;
  margin: 0 auto;
  border: solid gray 2px;
  border-radius: 5px;
  padding: 10px;
}

.map-img img {
  width: 100%;
  height: 100%;
}

.map-comment {
  height: 70px;
  width: 80%;
  margin: 0 auto;
  background-color: transparent;
  border: none;
  padding: 20px;
}

.reporting-footer {
  border-top: solid gray 2px;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 500;
}

.reporting-footer-date {
  margin-top: 15px;
}

.reporting-footer-page-number {
  margin-top: 15px;
  width: 60px;
  text-align: right;
}



