<div class="image">

<div id="intro" (click)="hideDisplay()">
    <div id="DG">Digitaler Gesundheitszwilling</div>
    <img src =  "https://upload.wikimedia.org/wikipedia/commons/5/53/Wappen_Sachsen-Anhalt.svg" width="50px" id="SA"/>
    <img id="mlUni" src="../../../assets/Siegel zentriert schwarz mit Text.jpg" alt="">
</div>

<div class="main">

    <div class="center">

        <div>

        <span> Digitaler Gesundheitszwilling</span> 

        </div>

            <div class="tile">
                <div style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
                <h1> Anmeldung </h1>

                <input type="email" placeholder="Nutzer">

                <br> 

                <input type="password"  placeholder="Passwort">

                <br> 
                <a href="/start" (click)="deleteCookie()"> Login  </a>
                <br> 
                <br> 

               Noch kein Konto? <br> 
               <a href=""> Hier registrieren  </a>

            </div>

            </div>







    </div>
</div>


</div>