.tile{
  border: 3px solid grey; 
  border-radius: 15px;
  width: 100%; 
  height: 100%; 
  display: flex;
  justify-content: center;
  align-items: center;
}
.map{
height: 90%; 
width: 95%;
border-radius: 15px; 


}

.selectBox1{
display: flex;
justify-content: space-around;
flex-direction: row;
width: 100%;
padding: 10px;

}
mat-select{
background-color: white;
padding: 2px;
padding-top: 3px;
padding-left: 10px;
border: 2px solid currentColor;
border-radius: 10px;
margin: 0 0 30px;
color: #555;
font-size: 14px;
width: 40%;
margin-right: 30px;
}


.container {
display: flex;
flex-direction: column;
justify-content: center;
align-items: stretch;
margin-left: 22px;
}

.textbox{
margin-top: 1%; 
margin-left: 3%; 
margin-bottom: 1%;
 /* margin-top: 3%;
  margin-left: 4%; 
  margin-right: 3%; 
  padding: 5%;
  padding-top: 25%;
  height: 1%;  */  
}
.auswahl{ 
  padding: 1%;
  margin-left: 3%;
  margin-right: 3%;
  height: 30%;
  width: 88%; 
  border: 3px solid grey; 
  border-radius: 15px;

}

.tg-button1{
padding: 10px; 
height: 10%; 
letter-spacing: 0px;
border: 3px solid grey; 
border-radius: 10px 0 0 10px;
background-color: white;

}

.tg-button1:hover{

background-color:  #E3E3E3;

}

.tg-button1:focus{
background-color:#10684E;

}


.tg-button2{
padding: 10px; 
height: 10%; 
letter-spacing: 0px;
border: 3px solid grey; 
border-left: none; 
border-radius: 0 10px 10px 0;
background-color: white;

}

.tg-button2:hover{

background-color:  #E3E3E3;


}

.tg-button2:focus{
background-color:#10684E;

}

form {
color: #555;
display: flex;
padding: 2px;
border: 2px solid currentColor;
border-radius: 10px;
margin: 0 0 30px;
}

input[type="search"] {
border: none;
border-radius: 0px;
background: transparent;
margin: 0;
padding: 7px 8px;
font-size: 14px;
width: 400px;
color: inherit;
border: 1px solid transparent;
border-radius: inherit;
}

input[type="search"]::placeholder {
color: #bbb;
}

button[type="submit"] {
text-indent: -999px;
overflow: hidden;
width: 40px;
padding: 0;
margin: 0;
border: 1px solid transparent;
border-radius: inherit;
background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
cursor: pointer;
opacity: 0.7;
}

button[type="submit"]:hover {
opacity: 1;
}

button[type="submit"]:focus,
input[type="search"]:focus {
box-shadow: 0 0 3px 0 #1183d6;
border-color: #1183d6;
outline: none;
}


.div-container{
display: flex;
justify-content: center;
flex-direction: column;


}
.result-div{
border: 3px solid grey; 
height: 450px; 
width: 80%; 
padding: 2px; 


}

.col{
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
height: 80vh;





}

.plot_result{

display: flex;
padding: 2px;
border: 2px solid currentColor;
border-radius: 10px;
margin: 0 0 30px;
height: 110%; 

}

[hidden] {
display: none !important;
}

.list-item{
border-bottom: 3px solid gray;
display: flex;
flex-direction: row;
justify-content: space-between;
padding: 2%
}


.pad{
border: 3px solid #b5c9a4; 
width: 70px;
height: 70px;
border-radius: 15px;
display: flex;
justify-content: center;
align-items: center;
background-color: #D4E5C6
}



.map-container{

display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
margin-left: 3%;
margin-right: 3%;
height: 100%; 
width: 94%; 
border: 3px solid grey; 
border-radius: 15px;

}


span {
  text-indent: 50px;
  letter-spacing: 0;
  font-size: xx-large;
}

.span3 {
  margin-top: 2%;
  text-indent: 50px;
  letter-spacing: 0;
  font-size: large;
 
}

.btn{
  padding: 10px; 
  margin: 3px; 
  letter-spacing: 0;
  border: 3px solid grey; 
border-radius: 15px;
background-color: white;

}

.btn:hover{
  background-color: lightgray;

}

.btn:focus{
  background-color: lightgray;
}


.btnTyp{
  padding: 10px; 
  margin: 3px; 
  letter-spacing: 0px;
  border: 3px solid grey; 
border-radius: 10px;
background-color: white;
width: 33%; 
height: 80%;
overflow-y: scroll;


}

.btnTyp:hover{
  background-color: lightgray;

}

.btnTyp:focus{
  background-color: lightgray;
}


.btnTyp:target{
  background-color: lightgray;
}


.btnTyp2{
  padding: 10px; 
  margin: 3px; 
  letter-spacing: 0px;
  border: 3px solid grey; 
border-radius: 10px;
background-color: white;

display: flex;
justify-content: center;

}

.btnTyp2:hover{
  background-color: lightgray;

}

.btnTyp2:focus{
  background-color: lightgray;
}


.btnTyp2:target{
  background-color: lightgray;
}

mat-list-item:hover{
background-color: lightgray;
}

mat-list-item:focus{
background-color: lightgray;
}



mat-list {
  flex-grow: 1;
  overflow: auto;
  height: 200px; 
  border-bottom: 2px solid gray;
}


.span1{
  color: gray; 
  font-size: xx-large;
}


.result-container{
  margin-right: 4%; 
  width: 0%; 
  height: 80vh; 
  display: flex; 
  flex-direction: column;



    
}
.span0 {
  text-indent: 50px;
  letter-spacing: 0px;
  font-size: xx-large;
  cursor: pointer;
  color: #1c8108
}

.scrollable{
  height: 20vh;
  overflow-y: scroll; 
  padding-right: 8px;
  /* background-color: blue; */

}

.result{

  height: 80vh;
 /* overflow-y: scroll; */
  padding: 1%; 
  border: 3px solid grey; 
  border-radius: 15px;
  margin-right: 5%;
  width: 45vh; 


}

.chart-container{
  height: 49vh;
  width: 44vh; 
  padding: 2%; 
  border: 3px solid gray; border-radius: 15px; margin-bottom: 1vh;  
  
}

.highlighted-marker-icon {
  /* Ändern Sie die Hervorhebungseigenschaften nach Bedarf */
  border: 2px solid red; /* Beispiel: Roter Rahmen */
  background-color: yellow; /* Beispiel: Gelber Hintergrund */
}

/* width */
::-webkit-scrollbar {
width: 6px;
margin-right: 8px;
}

/* Track */
::-webkit-scrollbar-track {
}

/* Handle */
::-webkit-scrollbar-thumb {
background: gray;
border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #c7c5c5;
}

#nEinrichtung{
width: 220px;
height: 40px;
font-size: 16px;
position: sticky;
bottom: 0;
color: white;
border-radius: 8px;
background-color: #10684E;
border: 1px solid white;
text-align: center;
}

#nEinrichtungOne{
width: 160px;
height: 40px;
font-size: 16px;
color: white;
border-radius: 8px;
background-color: #10684E;
border: 1px solid white;
text-align: center;
}

#dialog{

border: 2px solid #10684E;
border-radius: 15px;
}


#errorDialog{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.534);
  z-index: 10000;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

#dialogMessage{
  width: 500px;
  height: 150px;
  border-radius: 15px;

  background-color: white;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;

  padding: 50px;
  
  position: relative;
  
}

#confirmDialog{
  position: absolute;
  bottom: 10px;
  right: 250px;
  height: 40px;
  width: 100px;
  border-radius: 15px;
  background-color: black;
  font-size: 15px;
  border: none;
  color: white;
  border-bottom: 3px solid deepskyblue;
}

#confirmDialog:hover{
border: none;
  cursor: pointer;
}

#imgDialog{
  position: absolute;
  top: 10px;
  right: 10px;

}

#iconDialog{
  position: absolute;
  height: 80px;
  width: 80px;
  top: 0;
  right: 250px;
  border-radius: 50%;
  margin-top: -40px;
  color: #1183d6;
  font-size: 75px;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  background-color: deepskyblue;
  color: white;
  outline: 2px solid white
}

#dialogTileMsg{
  font-size: 28px;
  margin-bottom: 20px;
}

