/*@import "~bootstrap/dist/css/bootstrap.css";
@import "~bootstrap-icons/font/bootstrap-icons.css";*/


.map-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin-top: 100px;
  margin-bottom: 40px;
  margin-left: 40px;
  margin-right: 40px;
  border: 4px solid #ccc;
  border-radius: 25px;
}

.map-frame {
  height: 100%;
}

#map {
  height: 100%;
  overflow-y: clip;
  border-radius: 25px;
  /*background-color: rgb(48, 44, 44);*/
}

#btnTest {
  z-index: 1003;
  position: fixed; 
  bottom: 50px;
  left: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap:10px;
  width: calc(100% - 100px);
  margin-left: 40px;
}

#playContainer {
  padding: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  background-color: rgba(21, 22, 21, 0.3);
  gap: 30px;
 
}
#playButton {
  background-color: #1b8113;
  color: white;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  font-size: 16px;
  cursor: pointer;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
#playButton i {
  font-size: 1.5rem; /* Hier können Sie den Wert anpassen, um die Größe zu ändern */
}

#playButton:hover {
  background-color: rgb(104, 146, 69);
  border: 1px solid white;
}

#progressContainer {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

#dayDisplay {
  font-size: 24px;
  color: #1b8113;
  font-weight: bolder;
}

#customRange1{
  -webkit-appearance: none;
  width: 90%;
  cursor: pointer;
  height: 10px;
  outline: none;
  border-radius: 15px
}

#customRange1::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background:#1b8113;
  cursor: pointer;
  border-radius: 50%;
}

#customRange1::-webkit-slider-thumb:hover {
  background: rgb(104, 146, 69);
  box-shadow: 0 0 15px white;
}

#legende {
  width: 280px;
  height: 310px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 5px;
  margin-left: 2px;
  margin-top: 20px;
  font-size: 15px;
}

#legende p{
  margin-block-start: 0.6em;
  margin-block-end: 0.6em;
    
}


#pieChartTitle{
  position: absolute;
  top:10px;
  left :180px;
  color: #777675;
  font-weight: bold;
  margin-bottom: 10px;
}

#myChart {
  padding: 5px;
}

#chartDisplay {
  position: fixed;
  top: 110px;
  right: 50px;
  z-index: 1003;
  width: 550px;
  height: 310px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.842);
  border-radius: 15px;
  border: 1px solid #ccc;
}

.pieChartDisplay{
  display: flex;
  justify-content: center;
  align-items: center;
}

#chartDisplay p {
  transition: transform 0.3s ease-in-out;
  font-weight: bold;
}

#chartDisplay p:hover {
  transform: scale(1.2);
}

#collapse {
  text-align: center;
  position: absolute;
  top: 6px;
  right: 8px;
  font-size: 16px;
  cursor: pointer;
  width: 30px;
  border-radius: 8px;
  background-color: rgb(212, 229, 198);
  color: #4a90e2;
}

#calenderContainer {
  display: flex;
  justify-content: space-between;
  z-index: 1003;
  top: 110px;
  left: 50px;
  position: fixed;
  width: 450px;
  height: 180px;
  background-color: rgba(255, 255, 255, 0.842);
  border: 1px solid #ccc;
  border-radius: 15px;
}

#calenderDay {
  height: 180px;
  width: 100px;
  background-color: #1b8113;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 54px;
  color: white;
  text-align: center;
}

#calender-navigation {
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  filter: drop-shadow(0 0 10px rgba(8, 96, 228, 0.3));
  height: 180px;
  width: 350px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

#navigation-container {
  width: 300px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10px;
}

.number-cell {
  padding: 8px;
  text-align: center;
  color: #585a5d;
  font-weight: bold;
}

.number-cell:hover {
  background-color: #1b8113;
  cursor: pointer;
  border-radius: 40%;
  color: white;
}

.arrow {
  color: #1b8113;
}

#collapseCalender {
  text-align: center;
  position: absolute;
  top: 6px;
  right: 8px;
  font-size: 16px;
  cursor: pointer;
  width: 30px;
  border-radius: 8px;
  background-color: rgb(212, 229, 198);
  color: #4a90e2;
  z-index: 1004;
}

#barDisplay {
  position: fixed;
  top: 520px;
  right: 50px;
  z-index: 1003;
  width: 550px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.842);
  border-radius: 15px;
  border: 1px solid #ccc;
}

#myBarChart {
  padding: 5px;
}

.zoomBtn{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  color: white;
  background-color: #1b8113;
}

.zoomBtn i {
  font-size: 1.25rem; /* Hier können Sie den Wert anpassen, um die Größe zu ändern */
}

.zoomBtn:hover {
  background-color: rgb(104, 146, 69);
  border: 1px solid white;
}

#collapseBar {
  text-align: center;
  position: absolute;
  top: 6px;
  right: 8px;
  font-size: 16px;
  cursor: pointer;
  width: 30px;
  border-radius: 8px;
  background-color: rgb(212, 229, 198);
  color: #4a90e2;
}

#person {
  position: fixed;
  top: 40px;
  right: 600px;
  z-index: 1003;
  width: 350px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.842);
  border-radius: 15px;
  border: 1px solid #ccc;
}

#tablePErson {
  padding: 10px; 
}